<form>
  <div>Student Form</div>
  <label>First Name:</label><br>
  <input type="text" id="first_name" name="student[first_name]"><br>

  <label>Last_Name:</label><br>
  <textarea id="last_name" name="student[last_name]"></textarea><br>

  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %> 